<div class="container">
    <div class="header">
        <app-admin-header></app-admin-header>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <app-admin-navbar></app-admin-navbar>
      </div>
      
      <div class="mainbar">
        <div class="table-container">
            <h1 class="main-title">Batch Details Table</h1>
            <!--search box-->
            <div class="topnav">
                <input type="text" [(ngModel)]="searchtext" placeholder="Search..">
            </div>
            <table id="trainer">
                <tr>
                  <th style="width: 200px;">Sr.No</th>
                  <th>Batch name</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <ng-container *ngIf="(batches | async | batchFilter:searchtext) as filteredBatches">
                  <ng-container *ngIf="filteredBatches.length > 0; else notFound">
                    <tr *ngFor="let b of filteredBatches; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{b.bname}}</td>
                      <td>{{b.creation_date}}</td>
                      <td>{{b.end_date}}</td>
                      <td>
                        <span *ngIf="isBatchCompleted(b.end_date)">Completed</span>
                      </td>
                      <td>
                        <mat-icon class="mat" style="color: green" (click)="batchDetails(b.bid)">view_list</mat-icon>
                        <mat-icon class="mat" style="color: rgb(108, 145, 239);" (click)="updateBatch(b.bid)">edit</mat-icon>
                        <mat-icon class="mat" style="color: rgb(237, 74, 74);" (click)="deleteBatch(b.bid)">delete</mat-icon>
                        <button class="download-button" (click)="downloadBatchData(b.bid)">Download</button>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>
              <ng-template #notFound>
                <tr>
                  <td colspan="5" class="not-found">No records found</td>
                </tr>
              </ng-template>
              
            </div>
      </div>
    </div>
</div>