<app-header></app-header>
<!-- Hero section starts from here -->
<section id="about-home">
    <h2>
         CONTACT US
    </h2>
</section>
<!-- Hero section ends from here -->


<section id="contact">
    <div class="getin">
        <h2>Contact Us</h2>

        <div class="getin-details">
            <h3>Address</h3>
            <div>
                <i class="fa-solid fa-map get"></i>
                <p>1065 B, Gokhale Cross Road, Model Colony, Pune - 411016, Maharashtra, India</p>
            </div>
            
            <h3>Contact No</h3>
            <div>
                <i class="fas fa-phone-alt get"></i>
                <p>+91-020 25211111 <br> +91 98671 23456</p>
            </div>
            
            <h3>Email</h3>
            <div>
                <i class="fa-solid fa-envelope get"></i>
                <p>newadmissions.scdl.net </p>
            </div>
            
            <h3>Enquiry</h3>
            <div>
                <i class="fa-solid fa-envelope get"></i>
                <p>Walk-in for admission and enquiries at above location within SCDL working Hrs - 9:30 AM to 5:30 PM</p>
            </div>

            
        </div>
    </div>

    
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.840078655262!2d73.8315676743038!3d18.53612756870059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf7ba4100001%3A0x2d93617adadd9f43!2sSymbiosis%20Center%20for%20Distance%20Learning%20(SCDL)!5e0!3m2!1sen!2sin!4v1708258438415!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<app-footer></app-footer>