<app-header></app-header>

	<!-- Hero section starts from here -->
	<section id="about-home">
		<h2>
			Anout Symbiosis
		</h2>
	</section>
	<!-- Hero section ends from here -->

    <section id="about" class="about-section">
    <h2>About Symbiosis</h2>
    <p>Symbiosis Centre for Distance Learning (SCDL) is one of the largest autonomous distance learning education institute in India.</p>
    <p>Symbiosis Centre for Distance Learning (SCDL) has, since its inception in 2001, made rapid strides in providing quality education 
        to many students - making it one of the few large and most sought after distance learning institutes of India.</p>

    <p>In addition, Our team partners with local, national, and international organizations to offer the Corporate programs. Leading 
        organizations including Capgemini IBM, Cognizant, Infosys, Wipro, Ranbaxy, Collabra, Aditya Birla, Bharti Retail Pvt. Ltd., Wall-mart, 
        Vodafone, Cipla, etc. are amongst others who have collaborated with SCDL to offer the corporate programs.In order to ensure 
        quality, SCDL gets the best of academic resources for teaching, evaluation, e-Learning and self-learning material preparation 
        from its sister Management Institutes as well as from the industry.
        </p>

    <p>Symbiosis Centre for Distance Learning (SCDL) is an ISO Certified institution since last 10 years. In 2018, SCDL has been certified 
        with ISO 9001:2015 certification. This certificate is awarded to SCDL for successful establishment of <strong>"Quality Management System"</strong>. 
        The certification demonstrates our strong commitment to excellence in providing quality education through open and distance learning 
        mode for the purpose of professional growth and skill development. The ISO certification is reviewed annually. </p>
    </section>

<app-footer></app-footer>