
	<!-- Navigation start -->
	<header>
        <nav>
            <img src="\assets\logonew.png" class="logo" alt="">
    
            <div class="navigation">
                <ul>
                    <i id="menu-close" class="fas fa-times"></i>
                    <li><a routerLink="/home" class="active">Home</a></li>
                    <li><a routerLink="/courses">Courses</a></li>
                    <li><span>About Us</span>
                        <ul class="sub-menu">
                            <li><a routerLink="/vision-mission">Vision & Mission</a></li>
                            <li><a routerLink="/about-symb">About Symbiosis</a></li>
                            <li><a routerLink="/founder">Founder & President</a></li>
                            <li><a routerLink="/pri-director">Princaiple Director</a></li>
                            <li><a routerLink="/director">Director</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/contact-us">Contact Us</a></li>
                    <li><span>Login</span>
                        <ul class="sub-menu">
                            <li><a routerLink="/staff-login">Staff Login</a></li>
                            <li><a routerLink="/admin-login">admin Login</a></li>
                        </ul>
                    </li>
                </ul>
    
                <img src="/assets/menu.png" id="menu-btn" alt="">
            </div>
        </nav>
    </header>
        <!-- Navigation ends -->