<app-header></app-header>
	<!-- Hero section starts from here -->
	<section id="about-home">
		<h2>
			Courses
		</h2>
	</section>
	<!-- Hero section ends from here -->

		<!-- Courses section starts from here -->
	<section id="course">
		<h1>Our Popular Courses</h1>
		<p></p>

		<div class="course-box">
			<div class="courses">
				<img src="\assets\java.jpg" alt="">
				<div class="details">
					<h6>Java Full Stack Course</h6>
					<span><a routerLink="/inner-courses-java">Learn More</a></span>
					
				
				</div>
			</div>

			<div class="courses">
				<img src="\assets\machine learning.jpg" alt="">
				<div class="details">
					<h6>Machine Learning Course</h6>
					<span><a href="">Learn More</a></span>

					
				</div>
			</div>

			<div class="courses">
				<img src="\assets\softwaren.jpg" alt="">
				<div class="details">
					<h6>Software Testing Course</h6>
					<span><a href="">Learn More</a></span>
					

					
				</div>
			</div>

			<div class="courses">
				<img src="\assets\cloud computing.jpg" alt="">
				<div class="details">
					<h6>Cloud Computing Course</h6>
					<span><a href="">Learn More</a></span>

				</div>
			</div>

			<div class="courses">
				<img src="\assets\cyber security.png" alt="">
				<div class="details">
					<h6>Cyber Security Course</h6>
					<span><a href="">Learn More</a></span>

					
				</div>
			</div>

			<div class="courses">
				<img src="\assets\data sci.jpg" alt="">
				<div class="details">
					<h6>Data Science Course</h6>
					<span><a href="">Learn More</a></span>

					
				</div>
			</div>

			<div class="courses">
				<img src="\assets/c3.jpg" alt="">
				<div class="details">
					<h6>Python Developer Course</h6>
					<span><a href="">Learn More</a></span>

					
				</div>
			</div>

			<div class="courses">
				<img src="\assets\back-end.jpeg" alt="">
				<div class="details">
					<h6>Back End Developer Course</h6>
					<span><a href="">Learn More</a></span>

				</div>
			</div>

			<div class="courses">
				<img src="\assets\html-system-website-concept.jpg" alt="">
				<div class="details">
					<h6>Front End Developer Course</h6>
					<span><a href="">Learn More</a></span>

				</div>
			</div>

		</div>
	</section>
	<!-- Courses section ends from here -->
    
<app-footer></app-footer>