
	<!-- Features section starts from here -->
	<section id="features">
		<h1>Awesome Features</h1>
		<!--<p>Replenish man have thing gathering lights yielding shall you</p>-->

		<div class="fea-base">
			<div class="fea-box">
				<i class="fas fa-graduation-cap"></i>
				<h3>Teaching and Learning</h3>
				<p>
					Live Classes for every subject by dedicated expert faculty.
				</p>
			</div>

			<div class="fea-box">
				<i class="fa-solid fa-book-bookmark"></i>
				<h3>Excellent Range of Programs</h3>
				<p>
					Symbiosis Centre for Distance Learning offers an excellent & in demand range of programs across industry sectors
				</p>
			</div>

			<div class="fea-box">
				<i class="fas fa-award"></i>
				<h3>360 Rating 2012</h3>
				<p>
					Symbiosis Centre for Distance Learning has been ranked 1st amongst the top Distance Learning Institutes for student 
					learning experience by Careers 360 Rating 2012.
				</p>
			</div>
		</div>
	</section>
	<!-- Features section ends from here -->