<div class="container">
    <div class="header">
        <app-admin-header></app-admin-header>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <app-admin-navbar></app-admin-navbar>
      </div>
         
      <div class="edit-container">
        <div class="panel-heading">
            <h2>Add SubTopic</h2>
        </div>
        <div class="form-container">
            <form [formGroup]="subtopicForm" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <label for="name">Sub-Topic Name:</label><br>
                    <input formControlName="subtopic_name" type="text" class="form-control" id="sName" required [(ngModel)]="subtopic.sname" name="sname">
                    <div *ngIf="subtopicForm.get('subtopic_name')?.invalid && (subtopicForm.get('subtopic_name')?.touched || submitted)">
                        <small class="text-danger">Subtopic Name is required.</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Hours:</label><br>
                    <input formControlName="subtopic_hours" type="text" class="form-control" id="shours" required [(ngModel)]="subtopic.shours" name="hrs">
                    <div *ngIf="subtopicForm.get('subtopic_hours')?.invalid && (subtopicForm.get('subtopic_hours')?.touched || submitted)">
                        <small class="text-danger">Subtopic Hours is required.</small>
                    </div>
                </div>
                
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        
      </div>
    </div>
</div>