
	<!-- Footer section starts from here -->
	<footer>

		

		<div class="footer-col">
			<h3>ABOUT SCDL</h3>
			<li>Symbiosis Centre for Distance Learning (SCDL) is one of the largest <br>
				 autonomous distance learning education institute in India. <br><br>
				 Symbiosis Centre for Distance Learning (SCDL) has, since its inception in 2001, <br>
				 made rapid strides in providing quality education to many students - making it <br>
				 one of the few large and most sought after distance learning institutes of India.</li>
			
		</div>
		<div class="footer-col">
			<h3>About Us</h3>
			<li>Careers</li>
			<li>Courses</li>
			<li>Contact Us</li>
			<li>About Us</li>
		</div>
		
		<div>
			<img src="\assets\logo-footer.png" alt="">
		</div>


		
		<div class="copyright">
			<p>
				Copyright © 2024 Software Development Cell,SDA,Symbiosis
			</p>
			<div class="pro-links">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-linkedin-in"></i>
			</div>
		</div>

	</footer>
	<!-- Footer section ends from here -->