
<div class="nav-items">
    <ul>  
      <li>
        <div class="nav-item">
          <span routerLink="/trainer-dashboard/{{trainerId}}/{{profile.id}}">Home</span>
        </div>
      </li>
  <!---------------------------------->
      <li  class="parent-item">
        <div class="nav-item" >
          <span routerLink="/getOneProfile/{{trainerId}}/{{profile.id}}">Profile</span>
        </div>
        
      </li>
      <!---------------------------------->
      <li class="parent-item">
        <div class="nav-item">
            <span routerLink="/getAssociatedBathces/{{trainerId}}/{{profile.id}}">Batches</span>
        </div>
    </ul>
  </div>