
<section class="slider">
    <div class="slider-h1"><h1>Our Collaborators</h1></div>
    <div class="logo-slider">
      <div>
        <img alt="capgemini logo" id="bmw" src="\assets\1.png" />
        <img alt="Airtel logo" id="chevrolet" src="\assets\3.png"/>
        <img alt="birla logo" id="ford" src="\assets\5.png" />
        <img alt="zydus logo" id="honda" src="\assets\6.png" />
        <img alt="cipla logo" id="hyundai" src="\assets\7.png" />
        <img alt="cognizant logo" id="mercedes" src="\assets\8.png" />
        <img alt="bse logo" id="skoda" src="\assets\9.jpg" />
        <img alt="IMA logo" id="subaru" src="\assets\10.jpg" />
      </div>
      <div>
        <img alt="capgemini logo" id="bmw" src="\assets\1.png" />
        <img alt="Airtel logo" id="chevrolet" src="\assets\3.png"/>
        <img alt="birla logo" id="ford" src="\assets\5.png" />
        <img alt="zydus logo" id="honda" src="\assets\6.png" />
        <img alt="cipla logo" id="hyundai" src="\assets\7.png" />
        <img alt="cognizant logo" id="mercedes" src="\assets\8.png" />
        <img alt="bse logo" id="skoda" src="\assets\9.jpg" />
        <img alt="IMA logo" id="subaru" src="\assets\10.jpg" /></div>
    </div>
  </section>
