
	<!-- Courses section starts from here -->
	<section id="course">
		<h1>Our Popular Courses</h1>
		
		<div class="course-box">
			<div class="courses">
				<img src="\assets\java.jpg" alt="">
				<div class="details">
					<h6>Java Full Stack Course</h6>
					<span><a href="course-inner.html">Learn More</a></span>
				</div>
			</div>

			<div class="courses">
				<img src="\assets\machine learning.jpg" alt="">
				<div class="details">
					<h6>Machine Learning Course</h6>
					<span><a href="">Learn More</a></span>
				</div>
			</div>

			<div class="courses">
				<img src="\assets\softwaren.jpg" alt="">
				<div class="details">
					<h6>Software Testing Course</h6>
					<span><a href="">Learn More</a></span>
				</div>
				</div>
			</div>

		
	</section>
	<!-- Courses section ends from here -->
