
	<!-- Experts section starts from here -->
	<section id="experts">
		<h1>Community Experts</h1>
		<p>A collection of people who possess very high knowledge (expertise) in a particular field. </p>
		<div class="expert-box">
			<div class="profile">
				<img src="img/pro1.webp" alt="">
				<h6>Supriya Patel</h6>
				<p>Python & Algorithms Expert</p>
				<div class="pro-links">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-linkedin-in"></i>
				</div>
			</div>

			<div class="profile">
				<img src="img/pro2.webp" alt="">
				<h6>Sandip Chaudhari</h6>
				<p>Data Design Expert</p>
				<div class="pro-links">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-linkedin-in"></i>
				</div>
			</div>

			<div class="profile">
				<img src="img/pro3.webp" alt="">
				<h6>Mukesh Patel</h6>
				<p>Full Stack Developer</p>
				<div class="pro-links">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-linkedin-in"></i>
				</div>
			</div>

			<div class="profile">
				<img src="img/pro4.webp" alt="">
				<h6>Kiran Tiwari</h6>
				<p>Full Stack Developer</p>
				<div class="pro-links">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-linkedin-in"></i>
				</div>
			</div>
		</div>
	</section>
	<!-- Experts section ends from here -->