<!-- Experts section ends from here -->
<section>
    <h1 style="text-align: center; margin-bottom: 20px;">Our Alumni Say</h1>
<div class="wrapper" >
    <i id="left" class="fa-solid fa-angle-left"></i>
    <ul class="carousel">
      <li class="card">
        <span>Sales Manager Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, obcaecati? Iste veniam dolor sapiente consequuntur reprehenderit. Tempora, neque dolorum? Modi?</span>
        <div class="img"><img src="\assets\img-1.jpg" alt="img" draggable="false"></div>
        <h2>Blanche Pearson</h2>
        
      </li>
      <li class="card">
        <span>Sales Manager Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, obcaecati? Iste veniam dolor sapiente consequuntur reprehenderit. Tempora, neque dolorum? Modi?</span>
        
        <div class="img"><img src="\assets\img-2.jpg" alt="img" draggable="false"></div>
        <h2>Joenas Brauers</h2>
      </li>
      <li class="card">
        <span>Sales Manager Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, obcaecati? Iste veniam dolor sapiente consequuntur reprehenderit. Tempora, neque dolorum? Modi?</span>
        <div class="img"><img src="\assets\img-3.jpg" alt="img" draggable="false"></div>
        <h2>Lariach French</h2>
      </li>
      <li class="card">
        <span>Sales Manager Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, obcaecati? Iste veniam dolor sapiente consequuntur reprehenderit. Tempora, neque dolorum? Modi?</span>
        <div class="img"><img src="\assets\img-4.jpg" alt="img" draggable="false"></div>
        <h2>James Khosravi</h2>
      </li>
      <li class="card">
        <span>Sales Manager Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, obcaecati? Iste veniam dolor sapiente consequuntur reprehenderit. Tempora, neque dolorum? Modi?</span>
        <div class="img"><img src="\assets\img-5.jpg" alt="img" draggable="false"></div>
        <h2>Kristina Zasiadko</h2>
      </li>
      <li class="card">
        <span>Sales Manager Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, obcaecati? Iste veniam dolor sapiente consequuntur reprehenderit. Tempora, neque dolorum? Modi?</span>
        <div class="img"><img src="\assets\img-6.jpg" alt="img" draggable="false"></div>
        <h2>Donald Horton</h2>
      </li>
    </ul>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </div>
<!-- Testimonials -->
