<app-header></app-header>
	
	<!-- Hero section starts from here -->
	<section id="about-home">
		<h2>
			Founder and President
		</h2>
	</section>
	<!-- Hero section ends from here -->

    
	<!-- founder section starts from here -->
    <section id="founder" class="founder-section">
        
        <div class="row">
            <div class="col-md-4  text-center"><img class="img-responsive"  src="\assets\Dr-SB-Mujumdar.jpg" alt=""><br>
                <div class=" headInfo">
                    <h5 class="title">Dr. S. B. Mujumdar</h5>
                    <h6 class="position">Founder & President</h6>
                </div>
            </div>
            <div class="info">
                <p>Inspired by the ideals of 'Vishwa Bharati' of Gurudev Rabindranath Tagore and 'Antar Bharati' of Sane Guruji and with a deep desire to help foreign students, an idea of 'Symbiosis' was conceived by Dr. S.B. Mujumdar in the year 1971. The motto of Symbiosis is 'Vasudhaiva Kutumbakam' and truly for the foreign students at Pune it is a 'Home away from Home'.</p>
                <p><br>Symbiosis today comprises of Institutes, Colleges, Centres and Schools imparting training in diverse disciplines. It has students who hail from all states of India and more than 85 different countries. Symbiosis is known to be a Multicultural, Multilingual and Multinational institution. An institution, where academic democracy prevails. Where law is the religion and freedom of thought and expression is the spirit. Where equality is not preached but practiced. Where Innovation, Passion and Compassion is nurtured.</p>
                <br>
                <p>As a distinguished academician and educationist, Dr. S.B. Mujumdar's vision has blossomed into a large educational complex from his caring and concern for international students at Pune.</p>
                <br>
                <p>Born in a small town Gadhinglaj, near Pune, he obtained a first class first in M.Sc. (Botany) and a Doctorate in Microbiology. He was the Head of the Department of Botany, Fergusson College, Pune for 20 years. He has written many standard books and published several papers in national and international journals. He was also a member of the Executive Council of the Pune University for 9 years.</p>
            
            </div> 			
        </div>
    </section>
    
	<!-- founder section ends from here -->
<app-footer></app-footer>