<app-header></app-header>
	
	<!-- Hero section starts from here -->
	<section id="about-home">
		<h2>
			 Director's Message
		</h2>
	</section>
	<!-- Hero section ends from here -->

    
	<!-- director section starts from here -->
    <section id="founder" class="founder-section">
        
        <div class="row">
            <div class="col-md-4  text-center"><img class="img-responsive"  src="\assets\5.jpg" alt=""><br>
                <div class=" headInfo">
                    <h5 class="title">Sonali Kadam</h5>
                    <h6 class="position">Dy. Director SCDL</h6>
                </div>
            </div>
            <div class="info">
                <p>Online and distance education is poised to revolutionise higher education globally and Symbiosis Centre for Distance 
                    Learning is leading the way in this revolution. With experience of over 21 years of providing a holistic learning 
                    experience to individuals through flexible teaching learning pedagogy, today, SCDL is the preferred brand for online 
                    education in India and abroad.</p>
                <p><br>We bring quality education to your door step by employing best of technology and teaching learning resources. 
                    Students at SCDL have access to live online classes with expert faculty, faculty chat sessions, e-books, e‐learning, 
                    on-demand exams, all delivered through a sophisticated Web portal, thus creating a large virtual campus. Our highly 
                    experienced faculty will mentor and guide you throughout the duration of the program.</p>
                <br>
                <p>We at Symbiosis, believe in holistic development of our students. While our programs are designed to equip students with 
                    the right skill sets required by the industry, our value added services help students improve their personal 
                    competencies. Our especially designed Career Continuation program, placement training programs and career re-launch 
                    programs will help students improve themselves professionally and personally. At Symbiosis, we are committed towards 
                    helping you achieve your career goals and acquire a qualification that will set you apart in the professional world.</p></div> 			
        </div>
    </section>
    
	<!-- director section ends from here -->
<app-footer></app-footer>