<app-header></app-header>
	<!-- Hero section starts from here -->
	<section id="about-home">
		<h2>
			Vision & Mission
		</h2>
	</section>
	<!-- Hero section ends from here -->

    <section id="vision-mission" class="vision-mission-section">
    <h2>Vision</h2>
    <p>Symbiosis College of Arts and Commerce will be a Centre of Excellence in developing global competencies through knowledge creation and dissemination, character building and social commitment.</p>

    <h2>Mission</h2>
    <p>Symbiosis College of Arts and Commerce is committed to offer academic programmes in conventional and in emerging fields incorporating technology, 
        research and an interdisciplinary approach. This academic endeavor will be supported by relevant co- curricular and extra-curricular activities inculcating 
        life-skills, values and social accountability enabling learners make meaningful contribution globally.</p>

    </section>
    
    <app-footer></app-footer>